/* Made with love by Mutiullah Samim*/


html,body{
height: 100%;
font-family: 'Numans', sans-serif;
}

#login-welcome-page{
    background: url(../images/background.jpg) center;    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-blend-mode: multiply;
}
#bg_login{
    background: #023f8847;
    width: 100vw;
    height: 100vh;
}

#login-welcome-page #head_card, #login-welcome-page #login{
    background-color: rgb(255 255 255) !important;
}

.bg-custom{
    background: #00aeef!important;
    color: #fff !important;
}

#head_card{
    margin-top: 100px;
    padding: 5px 10px;
}
#head_success{
    margin-top: -80px;
    padding: .75rem 1.25rem;
    background: #28a745 !important;
    /*border-radius: 10px;*/
}
#head_warning{
    margin-top: -80px;
    padding: .75rem 1.25rem;
    background: #363636!important;
    color: #fff;
    text-align: center;
    /*border-radius: 10px;*/
}


#login h4{
    color: #023f88;
    margin-bottom: 20px;
    margin-top: -10px;
    text-transform: uppercase;
}
.container{
height: 100%;
align-content: center;
}

/* Footer */
footer{
    background: rgb(23, 170, 199);
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    word-spacing: 5px;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 2;
}
/* End of Footer */

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #007bff;
color: white;
text-align: center;
border:0 !important;
}

.input-group-prepend .fa{
margin: 0 auto;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}